.bg-bronze {
    background-color: #cd7f32;
}

.bg-silver {
    background-color: #c0c0c0;
}

.bg-gold {
    background-color: #d4af37;
}

.bg-platinum {
    background-color: #E5E4E2;
}

.bg-diamond {
    background-color: #B9F2FF;
}